
@layer base {
  .goal-meter {
    position: relative;
    height: 10px;
    background-color: #e9ecef;
    border-radius: 0.5rem;
    overflow: hidden;
    @apply dark:bg-gray-700;
  }

  .goal-meter-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    --progress-value: 0%;
    width: var(--progress-value);
    animation: progress-fill 1.5s ease-in-out;
    transition: width 1.5s ease;
  }

  .goal-meter-fill.under {
    background-color: theme('colors.af-blue.400');
  }

  .goal-meter-fill.goal {
    background-color: theme('colors.af-green.500');
  }
}
